/* CSS styles */
body, html {
    margin: 0; /* Entfernt den Standard-Rand */
    padding: 0; /* Entfernt Standard-Padding */
    overflow: hidden; /* Verhindert das Scrollen */
    width: 100%; /* Setzt die Breite auf 100% */
    height: 100%; /* Setzt die Höhe auf 100% */
    box-sizing: border-box; /* Sorgt dafür, dass Padding und Border in der Breite und Höhe enthalten sind */
}
#scanner-video {
    display: none; /* Versteckt das Videoelement, das für das Scannen von QR-Codes verwendet wird */
}
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}
#popup button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
